body {
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;
  width: 100%;
  margin: 0;
  background-color: #002F2F;
  color: #EFECCA;
  border-bottom: thick solid #E6E2AF;
  padding-top: 5vh;
  padding-left: 40%;
}
h1 {
  margin: 0;
}
.modal {
  color: black;
}
.delStatus {
  display: none;
}
